<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531306259798-hoorsssdft2lu7fmj0gmsltp4fmduhpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531306259798-hoorsssdft2lu7fmj0gmsltp4fmduhpl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>531306259798-f705092b30i7a3naetdl9rcmt6j08vnq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwzZsthzBij5uh78qF9wgrBZRk1IIclkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>531306259798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sharqiaHouseholdSurvey</string>
	<key>PROJECT_ID</key>
	<string>sharqia-household</string>
	<key>STORAGE_BUCKET</key>
	<string>sharqia-household.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531306259798:ios:97efdc19b7ff73cb9062f7</string>
</dict>
</plist>